@charset "utf-8";
body {
    /*width: auto;
    height: auto;*/
    width: 100%;
    height: 100%;
    background: rgba(24, 38, 41, 0.7);
}

button {
    padding: 3px 10px;
    border-radius: 10px;
    border: 2px solid;
    font: 28px 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: none;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}

.panel {
    width: 1920px;
    height: 1080px;
    position: relative;
}


/************目标积分*************/


/* 炫酷标题 */

.panel .score-bg {
    width: 500px;
    height: 90px;
    position: absolute;
    top: 120px;
    left: 750px;
    background: no-repeat url("../images/gif-8-1.png") left top;
    opacity: 0.30;
}

.panel .score {
    width: 500px;
    height: 90px;
    position: absolute;
    top: 120px;
    left: 750px;
    font: 65px/18px 'ds-digitalbold';
    color: #f4ab20;
    text-align: center;
    line-height: 90px;
    letter-spacing: 20px;
}


/************右下角: 地图 + 系统提示消息*************/

.panel .right_bottom {
    position: absolute;
    bottom: 350px;
    right: 460px;
    width: 400px;
    height: 340px;
    background-color: rgba(24, 38, 41, 0.1);
}


/* 地图 */

.map {
    top: 80px;
    left: 50px;
    width: 300px;
    height: 240px;
    background: url(../images/gif-12-1.png);
    background-size: 300px 240px;
    position: absolute;
    opacity: 0.50;
}

.location-bg {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 120px;
    left: 220px;
}

.location {
    width: 30px;
    height: 30px;
    border-radius: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -20%);
    animation: pointRadius 1s ease 0s infinite;
}

#location-name {
    width: 100px;
    height: 50px;
    margin-left: 135px;
    margin-top: -28px;
    position: absolute;
    font: 28px/18px 'bankgothic_md_btmedium';
    font-weight: 10pt;
    color: #ee4300;
    opacity: 0.8;
    line-height: 30px;
}

#location-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -35px;
    left: 80px;
    background: no-repeat url("../images/gif-3.png") left top;
    background-size: 40px 40px;
    border-radius: 50px;
    transition: all .1s;
    animation: rotate 10s infinite linear;
}


/************个人信息*************/

.usr_info {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 350px;
    left: 600px;
    border: 1px rgba(1, 100, 121, 0.6);
    background: rgba(1, 100, 121, 0.1);
    z-index: 1;
}

.usr_info .usr_avatar {
    width: 100px;
    height: 150px;
    background: url(../images/usr_avatar.png)no-repeat;
    background-size: 100px 150px;
    opacity: 0.7;
    margin-top: 60px;
    margin-left: 30px;
}

.usr_info .usr_name {
    width: auto;
    height: 150px;
    color: #19a9da;
    font: 40px/20px 'bankgothic_md_btmedium';
    opacity: 0.8;
    margin-top: 15px;
    margin-left: 40px;
}

.usr_info .usr_rank {
    height: 40px;
    position: absolute;
    bottom: 200px;
    left: 150px;
    font: 25px/20px 'bankgothic_md_btmedium';
    line-height: 40px;
}

.usr_info .usr_percent {
    height: 40px;
    width: 200px;
    opacity: 0.50;
    position: absolute;
    bottom: 140px;
    left: 155px;
    font: 20px/18px 'bankgothic_md_btmedium';
    color: #f4ab20;
    line-height: 40px;
}

.usr_info .usr_count {
    height: 40px;
    width: 200px;
    opacity: 0.50;
    position: absolute;
    bottom: 90px;
    left: 155px;
    font: 20px/18px 'bankgothic_md_btmedium';
    color: #f4ab20;
    line-height: 40px;
}


/* 开战 */

#start {
    width: 100px;
    height: 60px;
    top: 530px;
    left: 930px;
    color: #FFD478;
    border-color: #FFD478;
    position: relative;
    overflow: hidden;
}

#start:before {
    content: "";
    background-color: #FFD478;
    transform: skew(45deg, 0);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -30px;
    z-index: -1;
    transition: all .4s;
}

#start:hover {
    color: #FFFFFF;
}

#start:hover:before {
    width: 150%;
}


/*************动画*************/

.masked1 {
    background-image: -webkit-linear-gradient(left, #0ee5ff, #f4ab20 50%, #0ee5ff 50%, #f4ab20 100%, #0ee5ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 0.5s infinite linear;
}

.masked2 {
    background-image: -webkit-linear-gradient(left, #0ee5ff, #f4ab20 50%, #0ee5ff 50%, #f4ab20 100%, #0ee5ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 1s infinite linear;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pointRadius {
    0% {
        width: 10px;
        height: 10px;
        background: rgba(196, 149, 169, 0.8);
    }
    25% {
        width: 30px;
        height: 30px;
        background: rgba(214, 5, 0, 0.6);
    }
    75% {
        width: 40px;
        height: 40px;
        background: rgba(214, 5, 0, 0.0);
    }
    90% {
        width: 20px;
        height: 20px;
        background: rgba(214, 5, 0, 0.6);
    }
    100% {
        width: 10px;
        height: 10px;
        background: rgba(196, 149, 169, 0.8);
    }
}
